@import "tailwindcss";
@layer theme, base, components, utilities;


@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-display: "Darker Grotesque", "sans-serif"; 
  --linear-gradient: linear-gradient(to right, #59FFCE, #B7FF03, #FFFF00);
  --color-nav-background: rgba(255, 255, 255, 0.3);
}

.gradient-text {
  background: var(--linear-gradient); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient-text:hover {
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: background 1s;
}

.background-image {
  background-image: url('./assets/hero.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}